html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 700px;
    height: 400px;
}

.enouvo-trains-train-asset {
    border: none !important;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transform: translate(-50%, -100%);
    display: flex;
    position: absolute;
    align-items: center;
    cursor: default;
    margin-top: 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    .enouvo-trains-train-asset-om {
        box-sizing: border-box;
        position: relative;
        background-color: #3949ab;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        border: 2px solid #ffffff;

        &-name {
            position: absolute;
            background-color: #3949ab;
            left: 50%;
            transform: translateX(-50%);
            top: -24px;
            border: 2px solid #ffffff;
            border-radius: 16px;
            color: #ffffff;
            font-size: 0.65rem;
            padding: 0 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
            white-space: nowrap;
        }

        &-img {
            max-width: 70%;
            max-height: 70%;
            width: 70%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-or {
            position: absolute;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            .train-arrow {
                position: relative;
                width: 0;
                height: 0;
                /* border-top: 10px solid transparent;
              border-left: 20px solid #ffffff;
              border-bottom: 10px solid transparent; */
                border-left: 10px solid transparent;
                border-bottom: 20px solid #ffffff;
                border-right: 10px solid transparent;

                &-after {
                    position: absolute;
                    color: transparent;
                    /* top: -7px;
                left: -18px; */
                    top: 4px;
                    left: -7px;
                    content: ',';
                    width: 0;
                    height: 0;

                    border-left: 7px solid transparent;
                    border-bottom: 14px solid #3949ab;
                    border-right: 7px solid transparent;
                }
            }

            &.train-selected {
                .train-arrow-after {
                    border-bottom-color: #d1cc49;
                }
            }
        }

        &-arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 9px;
            top: -21px;

        }

        &.train-selected {
            background-color: #d1cc49;

            .enouvo-trains-train-asset-name {
                background-color: #d1cc49;
            }

            .enouvo-trains-train-asset-or {
                background-color: #d1cc49;

            }
        }
    }
}

.enouvo-trains-station-asset {

    box-sizing: border-box;
    background-color: #f87e23;
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    -webkit-transition: width 0.2s, height 0.2s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s;

    &-om-name {
        position: absolute;
        background-color: #f87e23;
        left: 50%;
        transform: translateX(-50%);
        top: -24px;
        border: 2px solid #ffffff;
        border-radius: 16px;
        color: #ffffff;
        font-size: 0.65rem;
        padding: 0 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        white-space: nowrap;
    }

    &-om-img {
        max-width: 85%;
        max-height: 85%;
        width: 85%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.active-station {
        width: 200%;
        height: 200%;

        .enouvo-trains-station-asset-name {
            font-size: 1.25em;
            top: -34px;
        }
    }
}


/* Tooltip*/

.enouvo-trains-tooltip {
    box-sizing: border-box;
    position: absolute;
    width: 100%;

    * {
        box-sizing: border-box;
    }

    &-inner {

        display: flex;
        position: absolute;
        align-items: center;
        cursor: default;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-top: -58px;
        margin-left: 0;
        transform: translate(-50%, -100%);
    }

}

.train-info {
    width: 270px;

    &-head {
        background-color: #3949ab;
        padding: 16px 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: #ffffff;

        &-value {
            font-size: 1.12rem;
        }
    }

    &-body {
        background-color: #ffffff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &-arrow {
        width: 40px;
        height: 20px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        overflow: hidden;

        &-inner {
            background-color: #ffffff;
            width: 17px;
            height: 17px;
            padding: 1px;
            margin: -10px auto 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &-list {
        margin: 0;
        padding: 16px 16px;
        list-style: none;

        &-item {
            width: 100%;
            margin-bottom: 8px;

            &-name {
                width: 40%;
                display: inline-block;
                color: #6f7bc6;
                font-size: 1rem;
                font-weight: 300;
                cursor: pointer;
            }

            &-value {
                width: 60%;
                display: inline-block;
                text-align: right;
                font-weight: 500;
                font-size: 0.88rem;
            }
        }
    }
}